#highScores {
  float: left;
}

#timer {
  float: right;
  clear: right;
}

#quizBlock1 {
  display: none;
}

#quizBlock2 {
  display: none;
}

#quizBlock3 {
  display: none;
}

#quizBlock4 {
  display: none;
}